/*
Plugin Name: Backlink Rechecker
Plugin URL: http://www.backlinkrechecker.com
Description: Rechecks your backlinks are live and have not been removed or lost - so you can then use this to BOOST the power of those backlinks with these recommended tools
Version: 1.1.6
Author: ExpertTeam.tv
Author URL: http://www.ExpertTeam.tv
*/

/*  Copyright 2011 ExpertTeam.tv - http://www.expertteam.tv
*/


.blinkr_register {
    width: 400px;

}